.App {
  text-align: center;
  display:flexbox;
  flex-direction: row;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

button{
  border:none;
  padding:5vh;
  font-size: large;
  border-radius: 2vh;
  margin:10vh;
}

#input{
  border:none;
}

div{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size:10vh;
  width:100vw;
}